# 依存関係
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# ビルドディレクトリ
dist/
build/

# 環境設定
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# エディタ関連
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS関連
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ログファイル
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*